# Compilação e Build (Maven)
target/

# Configurações da IDE (IntelliJ)
.idea/
*.iml
*.iws
*.ipr

# Arquivos de log e temporários
*.log
tmp/

# Arquivos de sistema
.DS_Store
Thumbs.db
.idea/workspace.xml
.idea/
